.envTitle{}
.envImage img{
  
    max-width: 100%;
    
   
}
.envDesc{
   
    min-height: 400px;
    
    font-style: bold;
    font-size: 25px;
    
}
.envUsageDesc{
    min-height: 400px;
    font-size: 25px;
  
   
}
ul{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,
h2,
h3,
h4,
h5{
    text-align: center;
}

li{
    display: block;
}