
.map{
    width: 2000px;
    height: auto;
    padding-right: 1000px;
    
    
}
a:link{
    text-decoration: underline;
}
.container{
    font-size: 23px;
   
}
.address{
    text-align: left;
    padding-left: 325px;
}